html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Candara, Bookman;
    font-style: normal;
    font-size: 16px;
    color: #444444;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

header {
    background:  #202124;
    box-shadow: 0 10px 20px black;
    height: 130px;
    width: 100%;
    display: table;
}

.nav-container {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

#nav-container-a-logo {
    display: inline-block;
    position: relative;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

#nav-container-a-logo:hover::after {
    content: attr(data-title);
    position: absolute;
    left: 100px;
    top: 95px;
    color: #FCEE21;
    z-index: 1;
    font-size: 1rem;
    text-align: center;
}

nav {
    margin-top: 10px;
    width: auto;
    float: right;
}

#label-ul {
    display: table;
    width: 31px;
    margin-left: 0;
    padding-left: 0;
    padding-top: 35px;
}

.label-ul-li {
    /*width: 100vw;*/
    height: 3px;
    background-color: #FCEE21;
    margin-bottom: 6px;
    list-style: none
}

.label-ul-li:last-child {
    margin-bottom: 0;
}

#mobile-line-blue {
    background-color: #0075aa;
}

#mobile-line-darkblue {
    background-color: #252967;
}

#mobile-line-red {
    background-color: #90191a;
}

header div.nav-container input[type=checkbox],
.toggle-menu {
    display: none;
}

.header-logo {
    margin-top: 12px;
    width: 100px;
    height: 100px;
}

.header-logo:hover {
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 0 30px #FCEE21;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

#selectedMenuItem {
    border-radius: 50%;
    box-shadow: 0 0 15px #FCEE21;
}

#selectedLogo {
    border-radius: 50%;
    box-shadow: 0 0 30px #FCEE21;
}

#menu-ul {
    display: table;
    float: right;
    margin: 0;
    padding-top: 30px;
}

.menu-ul-li {
    float: left;
    list-style-type: none;
    margin-left: 50px;
}

.menu-ul-li:last-child {
    padding-right: 0;
}

.menu-ul-li-a {
    display: inline-block;
    position: relative;
}

.menu-ul-li-a:hover::after {
    content: attr(data-title);
    position: absolute;
    left: -3px;
    top: 60px;
    color: #FCEE21;
    z-index: 1;
    font-size: 0.8rem;
    width: 50px;
    text-align: center;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.menu-ul-li-a-img {
    width: 25px;
    padding: 0.5rem;
    display: inline-block;
    position: relative;
}

.menu-ul-li-a-img:hover {
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 0 15px #FCEE21;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

#content {
    -webkit-animation: fade-in 1s linear; /* Safari 4+ */
    -moz-animation: fade-in 1s linear; /* Fx 5+ */
    -o-animation: fade-in 1s linear; /* Opera 12+ */
    animation: fade-in 1s linear; /* IE 10+, Fx 29+ */
    width: 75%;
    margin: 0 auto;
}

#content h1 {
    color: #202124;
    font-size: 2rem;
    margin-top: 60px;
    margin-bottom: 10px;
}

#line {
    padding: 0;
    height: 2px;
    border: none;
    background: linear-gradient(45deg,  #FCEE21, #333333);
    margin: 0 0 5%;
}

footer {
    background: #202124;
    height: 70px;
    box-shadow: 0 0 10px black;
    margin-top: 70px;
}

#footer-flex-container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#footer-logo {
    display: inline-block;
    width: 70px;
    height: 70px;
    float: left;
}

#footer-phones-ul {
    color: #FCEE21;
    list-style: none;
    font-size: 0.8rem;
}

#footer-phones-ul-li-second-child {
    margin-left: 20px;
}

#footer-phones-ul-li-last-child {
    margin-left: 40px;
}

#footer-email {
    color: #0075aa;
}

@media only screen and (max-width: 825px) {
    .toggle-menu {
        float: right;
        display: inline-block;
        cursor: pointer;
    }

    input[type=checkbox]:checked ~ nav{
        display: block
    }

    nav {
        display: none;
        position: absolute;
        right: 0;
        top: 120px;
        padding: 0;
        margin-right: 15px;
    }

    #menu-ul {
        width: auto;
        margin-right: 20px;
    }

    .menu-ul-li {
        float: none;
        padding: 0;
        width: 100%;
        display: table;
        margin-left: 0;
        margin-bottom: 7px;
        z-index: 1
    }

    .menu-ul-li-a-img {
        background-color: #202124;
        padding: 0.5rem;
        border-radius: 50%;
    }

    #selectedMenuItem {
        background-color: #FCEE21;
        border: 1px solid #202124;
        box-shadow: 0 0 15px #202124;
    }

    footer {
        height: auto;
    }

    #footer-flex-container {
        width: 100%;
    }

    #footer-logo {
        display: inline-block;
        width: 30px;
        height: 30px;
        float: left;
    }

    #footer-phones-ul {
        font-size: 0.5rem;
        padding: 0;
    }

    #footer-phones-ul-li-second-child,
    #footer-phones-ul-li-last-child {
        margin-left: 0;
    }

    #footer-email {
        font-size: 0.5rem;
    }

    #footer-copyright {
        font-size: 0.5rem;
    }
}

@media only screen and (max-width: 450px) {
    #footer-logo {
        display: none;
    }
}


@-webkit-keyframes fade-in {   0% { opacity: 0; }   100% { opacity: 1; }   }
@-moz-keyframes    fade-in {   0% { opacity: 0; }   100% { opacity: 1; }   }
@-o-keyframes      fade-in {   0% { opacity: 0; }   100% { opacity: 1; }   }
@keyframes         fade-in {   0% { opacity: 0; }   100% { opacity: 1; }   }
