h2 {
    margin-top: 0;
    margin-bottom: 40px;
}

#book-img {
    height: 450px;
    border-radius: 7px;
    border: 1px solid #FCEE21;
    float: left;
    margin-right: 30px;
}

#book-general-info-items {
    display: inline-block;
    font-size: 1.1rem;
    height: 450px;
    margin-bottom: 40px;
    position: relative;
}

#button-cart {
    display: inline-block;
    background-color: #202124;
    position: absolute;
    bottom: 0;
    color: #FCEE21;
    border-radius: 20px;
    padding: 5px;
    width: 120px;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    border: 1px solid #FCEE21;
    outline: none;
    font-weight: bold;
}

#button-cart:hover {
    background-color: #FCEE21;
    color: #202124;
    border: 1px solid #202124;
}


