table {
    margin: 0 auto;
    width: 100%;
    border-radius: 10px;
    border-collapse: collapse;
}

thead th {
    background-color: #202124;
    color: #FCEE21;
    font-weight: bold;
    padding: 10px;
}

tr {
    border-bottom: 1px solid grey;
}

.book-img {
    height: 120px;
    width: 90px;
    border-radius: 5px;
    border: 1px solid #FCEE21;
    float: left;
    margin: 10px;
}

.book-name {
    display: block;
    text-align: center;
    margin: auto 0;
    padding-top: 50px;
}

.count-td,
.price-td,
.full-item-price-td,
.del-td,
#full-price-value-td  {
    text-align: center;
}

.del-td {
    width: 10px;
}

.price-td,
.full-item-price-td {
    font-size: 1.1rem;
}

.full-item-price-td {
    font-weight: bolder;
}

#full-price-value-td {
    color: darkred;
    font-weight: bolder;
    font-size: 1.5rem;
}

#full-price-text-td {
    font-weight: bolder;
    font-size: 1.15rem;
    padding: 15px;
}

.form-btn-count {
    display: inline-block;
}

.count-span {
    display: inline-block;
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    color: #202124;
    border: 2px solid #FCEE21;
    font-weight: bolder;
}

.btn-count {
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    font-weight: bold;
    outline: none;
}

#btn-minus {
    background-color: #202124;
    color: #FCEE21;
}

#btn-plus {
    background-color: #FCEE21;
    color: #202124;
}

#btn-minus {
    background-color: #202124;
    color: #FCEE21;
}

#btn-delete {
    background-color: darkred;
    color: white;
}

#button {
    display: block;
    font-weight: bold;
    text-align: center;
    background-color: #FCEE21;
    color: #202124;
    border-radius: 20px;
    padding: 5px;
    width: 180px;
    margin-top: 15px;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    border: 1px solid #202124;
    outline: none !important;
    text-decoration: none;
}

#button:hover {
    background-color: #202124;
    color: #FCEE21;
    border: 1px solid #FCEE21;
}

@media only screen and (max-width: 825px) {
    .book-img {
        display: none;
    }

    .book-name {
        display: block;
        height: 20px;
        margin: 0 auto;
        padding: 0;
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 400px) {
    .book-name {
        padding-top: 0;
    }
}

