#photo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.photos {
    width: 300px;
    height: 200px;
}
