.alert-warning {
    text-align: center;
    background-color: #90191a;
    color: white;
    box-shadow: 0 0 8px grey;
    opacity: 0.6;
    font-weight: normal;
    font-size: 0.9rem;
    padding: 5px;
}

#code {
    display: block;
    border: 2px solid #d5d5d5;
    width: 200px;
    border-radius: 15px;
    outline: none;
    height: 25px;
    margin: 0 auto 20px;
    padding-left: 15px;
}

#code:focus {
    box-shadow: 0 0 5px #202124;
}

label p {
    font-weight: bolder;
    text-align: center;
    font-size: 1.3rem;
}

button {
    margin: 0 auto;
    display: block;
    width: 160px;
    background-color: #FCEE21;
    color: #202124;
    border-radius: 20px;
    padding: 5px;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    border: 1px solid #202124;
    outline: none;
    font-weight: bold;
}

button:hover {
    background-color: #202124;
    color: #FCEE21;
    border: 1px solid #FCEE21;
}
