.alert-warning {
    text-align: center;
    background-color: #90191a;
    color: white;
    box-shadow: 0 0 8px grey;
    opacity: 0.6;
    font-weight: normal;
    font-size: 0.9rem;
    padding: 5px;
}

#order-container {
    display: block;
    margin: 0 auto;
    width: 750px;
}

.headLine {
    display: inline-block;
    width: 400px;
    text-align: left;
    text-decoration: none;
    transition: 0.3s;
    background-image: linear-gradient(#FCEE21, #202124);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 1px;
}

.headLine:hover {
    background-size: 100% 1px;
}

.inputs {
    display: inline-block;
    padding-left: 10px;
    margin-left: 15px;
    width: 300px;
    border-radius: 15px;
    outline: none;
    height: 25px;
}

.inputs:focus {
    box-shadow: 0 0 5px #202124;
}

button {
    display: block;
    background-color: #FCEE21;
    color: #202124;
    border-radius: 20px;
    padding: 5px;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    border: 1px solid #202124;
    outline: none;
    font-weight: bold;
    width: 200px;
}

button:hover {
    background-color: #202124;
    color: #FCEE21;
    border: 1px solid #FCEE21;
}

@media only screen and (max-width: 825px) {
    .inputs {
        width: 150px;
    }

    .headLine {
        width: 150px;
    }

    #order-container p {
        width: 300px;
    }

    #order-container {
        width: auto;
    }
}

@media only screen and (max-width: 450px) {
    .headLine {
        width: 150px;
        display: block;
    }
}
