#alert-success {
    text-align: center;
    background-color: #0075aa;
    color: white;
    padding: 10px;
    font-weight: bolder;
    font-size: 1.1rem;
    box-shadow: 0 0 8px grey;
    opacity: 0.6;
}

#alert-warning {
    text-align: center;
    background-color: #FCEE21;
    color: black;
    padding: 10px;
    font-weight: bolder;
    font-size: 1.1rem;
    box-shadow: 0 0 8px grey;
    opacity: 0.6;
}

#books-flex-container,
#filters-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

#filters-flex-container {
    margin-bottom: 30px;
    margin-top: -10px;
    justify-content: space-between;
}

.filters-flex-container-items {
    margin-bottom: 5px;
}

.books-flex-container-item {
/*    width: 200px;*/
    height: 310px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 7px;
    box-shadow: 0 0 3px grey;
    position: relative;
    color: #636b6f;
    margin: 15px 15px 15px;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    flex: 0 15%;
}

.books-flex-container-item:hover {
    box-shadow: 0 0 10px #202124;
    border: 1px solid #FCEE21;
}

.button-cart {
    display: inline-block;
    width: 120px;
    background-color: #202124;
    color: #FCEE21;
    border-radius: 15px;
    padding: 5px;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    border: 1px solid #FCEE21;
    outline: none;
    font-weight: bold;
    margin: 4px auto 0;
}

.button-cart:hover {
    background-color: #FCEE21;
    color: #202124;
    border: 1px solid #202124;
}

.books-flex-container-item p {
    width: 170px;
    font-size: 0.8rem;
    margin: 0 auto 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.books-flex-container-item > .book-price {
    width: 170px;
    margin: 0 auto;
    color: darkred;
    font-size: 1rem;
}

.book-img {
    width: 150px;
    height: 200px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #FCEE21;
}

.book-author {
    font-weight: bold;
    color: #202124;
    width: 170px;
    margin: 0 auto;
}

#labels {
    position: absolute;
}

.label {
    display: block;
    border-radius: 7px;
    width: 100px;
    font-size: 0.8rem;
    box-shadow: 0 0 7px grey;
    margin-bottom: 2px;
}

.label-new {
    color: #fff;
    background-color: #0075aa;
}

.labels-recommend {
    color: #fff;
    background-color: darkred;
}

.label-hit {
    color: #212529;
    background-color: #FCEE21;
}

.filter-buttons {
    display: inline-block;
    width: 100px;

    border-radius: 15px;
    padding: 5px;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    border: 1px solid #FCEE21;
    outline: none;
    font-weight: bold;
    font-size: 0.8rem;
    text-align: center;
}

#filter-button-drop {
      text-decoration: none;
      background-color: #202124;
      color: #FCEE21;
}

#filter-button-drop:hover {
    background-color: #202124;
    color: #FCEE21;
    border: 1px solid #FCEE21;
    box-shadow: 0 0 5px #FCEE21;
}

#filter-button-find {
    background-color: #FCEE21;
    color: #202124;
}

#filter-button-find:hover {
    background-color: #FCEE21;
    color: #202124;
    border: 1px solid #202124;
    box-shadow: 0 0 5px grey;
}

#price_from,
#price_to {
    display: inline-block;
    width: 50px;
    border-radius: 15px;
    outline: none;
    height: 20px;
    padding-left: 15px;
}

#price_from:focus,
#price_to:focus {
    box-shadow: 0 0 2px #202124;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    content: "\2713";
    color: transparent;
    display: inline-block;
    /*background-color: #FCEE21;*/
    border-radius: 50%;
    font-size: 0.8rem;
    line-height: 20px;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s;
    margin-right: 10px;
}

input[type=checkbox]#hit + label:before {
    background-color: #FCEE21;
}

input[type=checkbox]#new + label:before {
    background-color: #0075aa;
}

input[type=checkbox]#recommend + label:before {
    background-color: darkred;
}

input[type=checkbox]:checked + label:before {
    color: white;
    font-weight: bolder;
    font-size: 1.7rem;
}

.pagination {
    display: block;
    list-style: none;
    padding: 0;
    text-align: center;
}

.page-item {
    display: inline-block;
    font-size: 1.5rem;
    margin: 5px;
    border-radius: 50%;
    background-color: #FCEE21;
    width: 30px;
    padding: 5px;
    color: #202124;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    border: 1px solid #202124;
}

.active,
.page-item:hover {
    box-shadow: 0 0 15px #202124;
    font-weight: bolder;
}

a.page-link,
span.page-link{
    text-decoration: none;
    color: #202124;
    display: block;
    width: 30px;
}

@media only screen and (max-width: 825px) {
    #price_from,
    #price_to {
        display: block;
    }

    #filters-flex-container-item-prices {
        width: 100%;
        display: block;
    }

    .filters-flex-container-items {
        margin-bottom: 10px;
    }
}




#filters-flex-container-item-language {
    display: inline-block;
    padding-left: 10px;
    margin-left: 15px;
    border-radius: 15px;
    outline: none;
    height: 25px;
}
